html
{
	font-family: 'Roboto', sans-serif;
	margin-left: 15%;
	margin-right: 15%;
}

body{radial-gradient:;}

h1
{
	font-size: 4em;
	font-weight: 900;
	margin-top: 15%;
}

ul
{
	margin-left: -2%;
	font-size: 1.2em;
	line-height: 30px;
}

section{font-size: 1.2em;}

h3{margin-bottom: 15%;}

.nompropre {font-weight: 900;}

.colorY {color:#d6af23;}

.hight
{
	font-size:3em;
	font-weight: 250;
	margin-bottom: 4%;
}

.ttlgrey
{
	color: grey;
	font-weight: 300;
}
.space{margin-left: 5%;}

.darkp{font-weight: 900;}

.back{text-align: center;}

.twotitle{font-size: 3em;}

.colorYsmall
{
	color:#d6af23;
	font-weight: 200;
}
.part1
	{
	margin-top: 8%;
	margin-bottom: 8%;
	}
